<div class="tech-btm">
    <h4> Mail Bülteni</h4>
    <p>Güncele Dair Herşey..</p>
    <form action="/News/AddMailSubs/" method="post">
        <input type="email" placeholder="Email" required="" name="Mail" />
        <input type="submit" value="Abone Ol" />
    </form>
</div>